## 1. Data Collection

### 1.1 Method
- Source(s) : [rapid api](https://rapidapi.com/)
- Tools used (requests)

### 1.2 Raw data set

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import random
import re

In [2]:
HEADERS = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36'
}
base_link = 'https://eg.hatla2ee.com'
all_car_details = []

# Define the exact start and end pages for this script 34an h3mlha 3la agza2
START_PAGE = 1
END_PAGE = 1


def extract_basic_info_from_card(card_soup):
    """Extract basic info from the listing card"""
    info = {}

    # Find the text section with year, mileage, transmission, fuel
    text_section = card_soup.find('div', class_='text-xs flex flex-wrap items-center')
    if text_section:
        spans = text_section.find_all('span')
        text_items = [s.get_text(strip=True) for s in spans if s.get_text(strip=True)]

        if len(text_items) >= 4:
            info['Year'] = text_items[0]
            info['Mileage_in_KM'] = text_items[1].replace(' KM', '').replace(',', '')
            info['Transmission'] = text_items[2]
            info['Fuel_Type'] = text_items[3]

    # Extract price
    price_div = card_soup.find('div', class_='text-lg lg:text-xl font-bold text-primary')
    if price_div:
        price_text = price_div.get_text(strip=True)
        price_match = re.search(r'([\d,]+)', price_text)
        if price_match:
            info['Price'] = price_match.group(1).replace(',', '')

    # Extract make/model
    tag_links = card_soup.find_all('a', class_='inline-flex items-center gap-1 text-gray-500')
    for link in tag_links:
        text = link.get_text(strip=True)
        if link.find('svg'):
            continue
        if 'Make' not in info:
            info['Make'] = text
        elif 'Model' not in info:
            info['Model'] = text
            break

    # Extract city
    city_link = card_soup.find('a', title=lambda t: t and 'For Sale' in t if t else False)
    if city_link:
        info['City'] = city_link.get_text(strip=True)

    return info


#scraaping
for i in range(START_PAGE, END_PAGE + 1):
    print(f"Scraping page {i}  :)")
    url = f'https://eg.hatla2ee.com/en/car/search?page={i}'

    try:
        page_response = requests.get(url, headers=HEADERS, timeout=20)
        page_response.raise_for_status()
        soup = BeautifulSoup(page_response.text, 'html.parser')

        car_containers = soup.find_all('div', attrs={'data-slot': 'card-content'})

        if not car_containers:
            print(f"No cars found on page {i}.")
            break

        print(f"Found {len(car_containers)} cars on page {i} ")

        for car in car_containers:
            try:
                # Extract title from card
                title_span = car.select_one("span.font-semibold.fs-body")
                car_title = title_span.get_text(strip=True) if title_span else 'N/A'
                print(f"getting data: {car_title}")

                # Extract card info
                current_car_details = extract_basic_info_from_card(car)
                current_car_details['Title'] = car_title

                # Find detail page
                link_tag = car.find('a', class_='no-underline')
                if not link_tag:
                    continue

                full_url = base_link + link_tag.get('href')

                # Fetch detail page
                sub_page = None
                for attempt in range(3):
                    try:
                        sub_page_response = requests.get(full_url, headers=HEADERS, timeout=20)
                        sub_page_response.raise_for_status()
                        sub_page = sub_page_response.text
                        break
                    except requests.exceptions.RequestException:
                        time.sleep(attempt * 2 + 1)

                if not sub_page:
                    continue

                detail_soup = BeautifulSoup(sub_page, "html.parser")

                # Extract date
                date_tag = detail_soup.find('div', class_='galleryIconWrap date')
                if date_tag and date_tag.find('span'):
                    current_car_details['Date'] = date_tag.find('span').text.strip()

                # Extract description fields
                desc_items = detail_soup.find_all('div', class_='DescDataItem')
                for item in desc_items:
                    label_tag = item.find('span', class_='DescDataSubTit')
                    value_tag = item.find('span', class_='DescDataVal')
                    if not label_tag or not value_tag:
                        continue

                    label = label_tag.text.strip()
                    value = value_tag.text.strip()

                    if 'Color' in label or 'اللون' in label:
                        current_car_details['Color'] = value
                    elif 'Class' in label or 'الفئة' in label:
                        current_car_details['Class'] = value
                    elif 'Body' in label or 'الشكل' in label:
                        current_car_details['Body_Style'] = value
                    elif 'Cylinder' in label or 'السلندر' in label:
                        current_car_details['Cylinder_Count'] = value
                    elif 'Engine' in label or 'سعة المحرك' in label:
                        current_car_details['Engine_Capacity'] = value

                all_car_details.append(current_car_details)
                print("Successfully scraped")

                time.sleep(random.uniform(1, 3))

            except Exception as e:
                print(f"Error scraping car: {e}")

    except Exception as e:
        print(f"Error loading page {i}: {e}")


print(f"Scraping complete {len(all_car_details)} cars scraped.")


if all_car_details:
    df = pd.DataFrame(all_car_details)

    desired_columns = [
        'Price', 'Date', 'Make', 'Model', 'Year', 'Mileage_in_KM',
        'Transmission', 'City', 'Color', 'Fuel_Type', 'Class',
        'Body_Style', 'Cylinder_Count', 'Engine_Capacity', 'Title'
    ]

    final_columns = [c for c in desired_columns if c in df.columns]
    df = df[final_columns]

    output_file = f'scraped_cars_{START_PAGE}-{END_PAGE}.csv'
    df.to_csv(output_file, index=False, encoding='utf-8-sig')

    print(f"\nSaved to '{output_file}'")
else:
    print("\nNo data scraped.")

Scraping page 1  :)
Found 40 cars on page 1
getting data: Mercedes GLA 2024
Found 40 cars on page 1
getting data: Mercedes GLA 2024
Successfully scraped
Successfully scraped
getting data: Mercedes S580 2023
getting data: Mercedes S580 2023
Successfully scraped
Successfully scraped
getting data: Mercedes C 200 2023
getting data: Mercedes C 200 2023
Successfully scraped
Successfully scraped
getting data: Kia Sorento 2024
getting data: Kia Sorento 2024
Successfully scraped
Successfully scraped
getting data: Land Rover Range Rover Sport 2023
getting data: Land Rover Range Rover Sport 2023
Successfully scraped
Successfully scraped
getting data: Mercedes GLC 200 2025
getting data: Mercedes GLC 200 2025
Successfully scraped
Successfully scraped
getting data: Kia Sportage 2026
getting data: Kia Sportage 2026
Successfully scraped
Successfully scraped
getting data: Land Rover Velar 2025
getting data: Land Rover Velar 2025
Successfully scraped
Successfully scraped
getting data: Mercedes Viano 2026
getting data: Mercedes Viano 2026
Successfully scraped
Successfully scraped
getting data: Mercedes Viano 2026
getting data: Mercedes Viano 2026
Successfully scraped
Successfully scraped
getting data: Chevrolet Camaro 2024
getting data: Chevrolet Camaro 2024
Successfully scraped
Successfully scraped
getting data: Renault Sandero 2012
getting data: Renault Sandero 2012
Successfully scraped
Successfully scraped
getting data: Mercedes C 200 2019
getting data: Mercedes C 200 2019
Successfully scraped
Successfully scraped
getting data: Lada Granta 2017
getting data: Lada Granta 2017
Successfully scraped
Successfully scraped
getting data: Peugeot 301 2017
getting data: Peugeot 301 2017
Successfully scraped
Successfully scraped
getting data: Mercedes C 180 2009
getting data: Mercedes C 180 2009
Successfully scraped
Successfully scraped
getting data: Changan Benni mini 2013
getting data: Changan Benni mini 2013
Successfully scraped
Successfully scraped
getting data: Renault Kadjar 2018
getting data: Renault Kadjar 2018
Successfully scraped
Successfully scraped
getting data: Ferrari F8 Spider 2023
getting data: Ferrari F8 Spider 2023
Successfully scraped
Successfully scraped
getting data: Renault Logan 2019
getting data: Renault Logan 2019
Successfully scraped
Successfully scraped
getting data: Hyundai Elantra CN7 2022
getting data: Hyundai Elantra CN7 2022
Successfully scraped
Successfully scraped
getting data: Audi Q3 2021
getting data: Audi Q3 2021
Successfully scraped
Successfully scraped
getting data: Mercedes C 180 2019
getting data: Mercedes C 180 2019
Successfully scraped
Successfully scraped
getting data: Chrysler Pacifica 2006
getting data: Chrysler Pacifica 2006
Successfully scraped
Successfully scraped
getting data: Fiat 128 1980
getting data: Fiat 128 1980
Successfully scraped
Successfully scraped
getting data: Chevrolet Aveo 2016
getting data: Chevrolet Aveo 2016
Successfully scraped
Successfully scraped
getting data: Mercedes GLC 200 2024
getting data: Mercedes GLC 200 2024
Successfully scraped
Successfully scraped
getting data: Mitsubishi Lancer 2008
getting data: Mitsubishi Lancer 2008
Successfully scraped
Successfully scraped
getting data: Mercedes E 200 2021
getting data: Mercedes E 200 2021
Successfully scraped
Successfully scraped
getting data: Kia Rio 2013
getting data: Kia Rio 2013
Successfully scraped
Successfully scraped
getting data: Kia Picanto 2016
getting data: Kia Picanto 2016
Successfully scraped
Successfully scraped
getting data: Citroën C4 2025
getting data: Citroën C4 2025
Successfully scraped
Successfully scraped
getting data: BMW X3 2007
getting data: BMW X3 2007
Successfully scraped
Successfully scraped
getting data: Seat Tarraco 2024
getting data: Seat Tarraco 2024
Successfully scraped
Successfully scraped
getting data: BMW X6 2012
getting data: BMW X6 2012
Successfully scraped
Successfully scraped
getting data: Peugeot 3008 2024
getting data: Peugeot 3008 2024
Successfully scraped
Successfully scraped
getting data: Porsche Macan 2021
getting data: Porsche Macan 2021
Successfully scraped
Successfully scraped
getting data: Suzuki Swift Dzire 2022
getting data: Suzuki Swift Dzire 2022
Successfully scraped
Successfully scraped
getting data: Alfa Romeo Stelvio 2021
getting data: Alfa Romeo Stelvio 2021
Successfully scraped
Successfully scraped
getting data: Land Rover Range Rover Sport 2019
getting data: Land Rover Range Rover Sport 2019
Successfully scraped
Successfully scraped
Scraping complete 40 cars scraped.

Saved to 'scraped_cars_1-1.csv'
Scraping complete 40 cars scraped.

Saved to 'scraped_cars_1-1.csv'

## 2. Dataset Overview and Inspection

### <center style="color:#007ACC;">===== BASIC OVERVIEW =====</center>

In [4]:
df = pd.read_csv('scraped_cars_1-100.csv')

In [11]:
print("Shape:", df.shape)
print("="*40)
print("Info:")
print("="*40)
print(df.info())

Shape: (5480, 7)
========================================
Info:
========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5480 entries, 0 to 5479
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Price          5480 non-null   int64
 1   Year           5379 non-null   float64
 2   Mileage_in_KM  5379 non-null   float64
 3   Transmission   5379 non-null   object
 4   City           5480 non-null   object
 5   Fuel_Type      5379 non-null   object
 6   Title          5480 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 299.8+ KB
None

### <center style="color:#007ACC;">===== DUPLICATES CHECK =====</center>

In [12]:
#number of duplicates
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 778

### <center style="color:#007ACC;">===== Missing Values CHECK =====</center>

In [15]:
# Count missing values per column
num_missing = df_cleaned.isnull().sum()
print("Missing values per column:")
print(num_missing)

Missing values per column:
Price             0
Year             75
Mileage_in_KM    75
Transmission     75
City              0
Fuel_Type        75
Title             0
dtype: int64

## 3. Data Cleaning

### 3.1 Duplicate Removal

In [5]:
df_cleaned = df.drop_duplicates()

In [6]:
num_duplicates = df_cleaned.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

### 3.2 Handling Missing Values

In [7]:
df_cleaned = df_cleaned.dropna()
num_missing = df_cleaned.isnull().sum()
print("Missing values per column:")
print(num_missing)

Missing values per column:
Price            0
Year             0
Mileage_in_KM    0
Transmission     0
City             0
Fuel_Type        0
Title            0
dtype: int64

### 3.3 Correcting Formats

In [8]:
#printing disinct cities
distinct_cities = df_cleaned['City'].dropna().unique()
print(distinct_cities)

['Mercedes' 'Mitsubishi Eclipse Cross' 'Heliopolis, Cairo' 'Land Rover'
 'Tagamo3 - New Cairo, Cairo' 'Nissan' 'Cairo' 'El Minya'
 'Madinaty, Cairo' 'Warraq, Giza' 'Al Rehab, Tagamo3 - New Cairo, Cairo'
 '5th Settlement' 'Masr Al Jadidah, Cairo' 'El Haram, Giza'
 'Nasr city, Cairo' '10th of Ramadan, Cairo' 'Mitsubishi' 'El Mansoura'
 'Sheikh Zayed City, Giza' '6 October, Giza' 'El Obour, Al Qalyubia'
 'Hyundai' 'Sharqia' 'Jeep' 'Chery' 'Giza' 'Hadayeq El Maadi, Cairo'
 'Alexandria' 'El Agamy, Alexandria' 'Luxor' 'Hurghada, Red Sea'
 'El Mahalla, Gharbia' 'Greater Cairo ( Cairo + Giza)' 'Sheraton, Cairo'
 'Kia' 'Basioun, Gharbia' 'Damietta' 'Cadillac' 'Geely' 'Cupra'
 'Maadi, Cairo' 'Asyut' 'Al Shorouk, Cairo' 'El Katameya, Cairo' 'Opel'
 'Al Marj, Cairo' 'Tanta, Gharbia' 'Faiyum' 'Borg el arab, Alexandria'
 'Obour City, Cairo' 'Haval' 'Seat' 'Baic' 'Renault' 'Ismailia'
 'El Bagour, Monufia' 'Hadaeq Al Qubbah, Cairo'
 'El Zawya El Hamraa, Cairo' 'Kafr El Cheik' 'Dakahlia' 'El-Arish'
 'Mansoura, Dakahlia' 'Skoda' 'Chevrolet' 'Banha, Qalyubia' 'Beni Suef'
 'Aswan' 'Zagazig, Sharqia' 'Hadayek October, Giza'
 'Cleopatra, Alexandria' 'El Wadi El Gedid' 'Shubra, Cairo' 'Sinai'
 'El Beheira' 'Abarth' 'Shibin el Kom , Monufia'
 'Shubra al-Khaimah, Qalyubia' 'Pyramids Gardens, Giza'
 'Shebeen El Kom, Menofia' 'Jetour' 'Hawa' 'Ain Shams, Cairo'
 'Ashmoun, Monufia' 'Suez' 'Sharm el-Sheikh' 'Mokattam, Cairo'
 'Al Tagamoa El Awal, Tagamo3 - New Cairo, Cairo' 'Dokki, Giza'
 'Mohandessin, Giza' 'BMW' 'Deepal' 'Shobra, Cairo' 'Downtown, Cairo'
 'Peugeot' 'Changan' 'Byd' 'GAC' 'Isuzu' 'Kafr el-Dawwar, Beheira'
 'Al Barajil, Giza' 'Hadayeq El Zeitoun, Cairo' 'Ras Gharib, Red Sea'
 'Volkswagen' 'Avatr' 'Gmc' 'MG' 'Proton' 'Sharabiyyah, Cairo'
 'Al Qalyubia' 'El Salam City, Cairo' 'Birkat As Sab, Menofia'
 'Al Nubariya, Beheira' 'Dikirnis, Dakahlia' 'Abu Zabal, Al Qalyubia'
 'Menouf, Monufia' 'Qalyubia' 'Belbes, Sharqia' 'Soueast'
 'El Zaytoun, Cairo' 'Al Matariyyah, Cairo' 'Dar Al Salam, Cairo'
 'Monufia' 'Helwan, Cairo' 'Fiat' 'Port Said' 'Minya Al Qamh, Sharqia'
 'Kafr El Zayat, Gharbia' 'Qena' 'Saft El Laban, Giza'
 'Abu Kabir, Sharqia' 'El Marg, Cairo' 'El Rehab, Cairo' 'Sohag'
 'Kafr el-Sheikh' 'Al Abbassia, Greater Cairo ( Cairo + Giza)'
 'Faqous, Sharqia' 'Xiaomi' 'Moharam Bek, Alexandria' 'Bilbeis, Sharqia'
 'New Administrative Capital, Cairo' 'El Behiera'
 'El Mahalla El Kubra, Gharbia' 'Al Agouzah, Giza' 'Abu Hummus, Beheira'
 'Toyota' 'Audi' 'El Faiyum' 'South Sinai' 'Abu Rudeis, South Sinai'
 'Manil Shihah, Giza' 'El Shorouk, Cairo' 'Lada' 'Degla, Maadi, Cairo'
 'Suzuki' 'Waboor Elmayah, Alexandria' 'Amreya, Alexandria' 'JMC'
 'Imbaba, Giza' 'Abis, Alexandria' 'Jaguar' 'Citroën' 'Zeekr' 'KYC'
 'Khanka, Qalyubia' 'Porsche' 'Menofia' 'Smouha, Alexandria'
 'Faisal, Giza' 'Bestune' 'Zamalek, Cairo' 'Dongfeng'
 'Zahraa Al Maadi, Maadi, Cairo' 'Al Amireya, Cairo'
 'Musturad, Al Qalyubia' 'Rox' 'Tesla' 'Red Sea' 'Badr City, Cairo'
 'El Qanater El Khayreya, Qalyubia' 'Agamy, Alexandria'
 'Bin El Sarayat, Giza' 'Hummer' 'Ssang Yong' 'Sadat City, Monufia'
 'Beheira' 'Kom Hamada, Beheira' 'El Hawamdeyya, Giza'
 'Fasal, Greater Cairo ( Cairo + Giza)' 'El Sayeda Zainab, Cairo'
 'New Nozha, Masr Al Jadidah, Cairo' 'Kom Ombo' 'Marsa Matruh' 'Gharbia'
 'Quesna, Monufia' 'Dyarb Negm, Sharqia' 'Marsa Matrouh'
 'Alexandria Desert, Alexandria' 'Bulaq, Greater Cairo ( Cairo + Giza)'
 'Damanhur, Beheira' 'Al Khosous, Al Qalyubia'
 'El Tagamoa El Khames, Tagamo3 - New Cairo, Cairo' 'El Mahalla El Kubra'
 'Zefta, Gharbia' 'Nozha, Alexandria' 'El Manial, Cairo' 'Mini'
 'Abdeen, Cairo' 'Maserati' 'Ford' 'Mariotya' 'Kerdasa, Giza'
 'Loran, Alexandria' 'Kaiyi' 'Other, Tagamo3 - New Cairo, Cairo'
 'Miamy, Alexandria' 'Qalyub, Qalyubia' 'Honda CRV' 'Honda' 'Ben Suef'
 'Safaga, Red Sea' 'Al Munib, Giza' 'Shubra Al Khaymah, Al Qalyubia' 'Jac'
 'Touhk, Qalyubia' 'Ras Sedr, South Sinai'
 'Marj, Greater Cairo ( Cairo + Giza)' 'Smart' 'Arcfox'
 'Mit Ghamr, Dakahlia' 'El Mohandseen, Greater Cairo ( Cairo + Giza)'
 'Shibin El Qanater, Qalyubia' 'Etay al-Barud, Beheira'
 'El Senbellawein, Dakahlia' 'Tala, Monufia' 'Belqas, Dakahlia' 'Volvo'
 'Abu Qir, Alexandria' 'Hyundai Elantra CN7' 'Shubrakhit, Beheira'
 'Shineray' 'El Gamaleya, Dakahlia']

In [9]:
# List of makes/models that should not appear in City (all lowercased when checked)
bad_values = [
    'abarth','arcfox','audi','avatr','bmw','baic','bestune','byd','cadillac',
    'changan','chery','chevrolet','citroën','cupra','deepal','dongfeng','fiat','ford',
    'gac','geely','gmc','haval','hawa','honda','hummer','hyundai','isuzu','jmc','jac',
    'jaguar','jeep','jetour','kyc','kaiyi','kia','lada','land rover','mg','maserati',
    'mercedes','mini','mitsubishi','nissan','opel','peugeot','porsche','proton','renault','rox',
    'seat','shineray','skoda','smart','soueast','ssang yong','suzuki','tesla','toyota','volkswagen','volvo',
    'xiaomi','zeekr','honda crv','hyundai elantra cn7','mitsubishi eclipse cross'
]

# Make a set of normalized bad values for fast lookup
bad_set = {val.lower() for val in bad_values}

def city_contains_bad_value(city_text):
    """Return True if the city_text equals or contains any bad value.
    """
    if not isinstance(city_text, str):
        return True
    normalized = city_text.strip().lower() 
    if not normalized: #for empty string after stripping
        return True
    for bad_value in bad_set:
        # exact match or substring match (e.g., 'audi' in 'audi showroom')
        if normalized == bad_value or bad_value in normalized:
            return True
    return False

# Build a boolean mask using the named function (no lambda)
city_series = df_cleaned['City'].astype(str).fillna('')
mask = city_series.apply(city_contains_bad_value)

# How many rows match and will be changed
num_to_change = int(mask.sum())
print(f"Rows matching listed makes/models in City: {num_to_change}")

# Replace matched City values with 'Unknown'
df_cleaned.loc[mask, 'City'] = 'Unknown'

# Show top City frequencies after replacement
print('\nTop City values (after replacement):')
print(df_cleaned['City'].value_counts().head(20))

Rows matching listed makes/models in City: 717

Top City values (after replacement):
City
Unknown                       717
Tagamo3 - New Cairo, Cairo    546
Cairo                         467
Nasr city, Cairo              325
6 October, Giza               231
Heliopolis, Cairo             220
Alexandria                    219
Sheikh Zayed City, Giza       155
Giza                          137
Maadi, Cairo                  133
El Haram, Giza                 79
Damietta                       53
Obour City, Cairo              46
Al Shorouk, Cairo              43
Mohandessin, Giza              41
Mokattam, Cairo                40
Tanta, Gharbia                 40
Zagazig, Sharqia               38
Madinaty, Cairo                36
Helwan, Cairo                  36
Name: count, dtype: int64

In [10]:
# Standardize City values to canonical governorates (adds `City_standard`)
import re

# Canonical governorates set
governorates = {
    'Cairo','Giza','Alexandria','Red Sea','Aswan','Asyut','Beheira','Beni Suef',
    'Dakahlia','Damietta','Faiyum','Gharbia','Ismailia','Kafr el-Sheikh','Luxor',
    'Matrouh','Minya','Monufia','New Valley','North Sinai','Port Said','Qalyubia',
    'Qena','Sharqia','Sohag','South Sinai','Suez'
}

# Aliases (lowercase keys)
alias = {
    'faiyum': 'Faiyum',
    'el faiyum': 'Faiyum',
    'el wadi el gedid': 'New Valley',
    'menofia': 'Monufia',
    'monufia': 'Monufia',
    'kafr el cheik': 'Kafr el-Sheikh',
    'beheira': 'Beheira',
    'el behiera': 'Beheira',
    'el beheira': 'Beheira',
    'el minya': 'Minya',
    'marsa matrouh': 'Matrouh',
    'marsa matruh': 'Matrouh',
    'sinai': 'North Sinai',
    'greater cairo ( cairo + giza)': 'Cairo',
}

# Precompute lowercase lookups for fast matching
gov_lookup = {g.lower(): g for g in governorates}
alias_lookup = {k.lower(): v for k, v in alias.items()}

def standardize_location(text):
    """Return governorate name for `text` or 'Unknown'.
    - Handles None/non-string safely.
    - Splits text on commas/slashes/hyphens and checks tokens left-to-right.
    - Matches governorate names first, then aliases, then substring match as last resort.
    """
    if text is None:
        return 'Unknown'
    s = str(text).strip()
    if not s or s.lower() == 'unknown':
        return 'Unknown'

    # Split into meaningful tokens (commas, slashes, hyphens are common separators)
    parts = [p.strip() for p in re.split(r'[,/\\-]', s) if p.strip()]

    # 1) exact governorate match (case-insensitive)
    for p in parts:
        key = p.lower()
        if key in gov_lookup:
            return gov_lookup[key]

    # 2) alias lookup
    for p in parts:
        key = p.lower()
        if key in alias_lookup:
            return alias_lookup[key]

    # 3) substring match in joined text (e.g., 'red sea' inside 'hurghada, red sea')
    joined = ' '.join(parts).lower()
    for key, canonical in gov_lookup.items():
        if key in joined:
            return canonical

    return 'Unknown'

# create standardized column
df_cleaned['City_standard'] = df_cleaned['City'].apply(standardize_location)
print('Standardization complete. Top 20 City_standard values:')
print(df_cleaned['City_standard'].value_counts().head(20))

Standardization complete. Top 20 City_standard values:
City_standard
Cairo         2109
Unknown        794
Giza           743
Alexandria     255
Gharbia         90
Sharqia         81
Qalyubia        73
Monufia         69
Dakahlia        65
Damietta        53
Red Sea         38
Beheira         34
Asyut           32
Faiyum          29
Suez            27
Ismailia        23
Minya           21
Sohag           17
Port Said       14
Beni Suef       14
Name: count, dtype: int64

In [11]:
#drop unnecessary columns
df_cleaned = df_cleaned.drop(columns=['City'])
df_cleaned.head()

,Price,Year,Mileage_in_KM,Transmission,Fuel_Type,Title,City_standard
0,3800000,2026.0,0.0,Automatic,Gas,Mercedes C 180 2026,Unknown
1,1475000,2025.0,0.0,Automatic,Gas,Mitsubishi Eclipse Cross 2025,Unknown
2,2550000,2022.0,43000.0,Automatic,Gas,Mercedes C 180 2022,Cairo
3,4100000,2025.0,0.0,Automatic,Gas,Land Rover Range Rover Evoque 2025,Unknown
4,4200000,2026.0,0.0,Automatic,Gas,Mercedes C 200 2026,Unknown

In [12]:
# This removes any 4-digit year (e.g., '2022') from the Title column
df_cleaned['Title'] = df_cleaned['Title'].astype(str).str.replace(r"\b\d{4}\b", "", regex=True).str.strip()
df_cleaned.head()

,Price,Year,Mileage_in_KM,Transmission,Fuel_Type,Title,City_standard
0,3800000,2026.0,0.0,Automatic,Gas,Mercedes C 180,Unknown
1,1475000,2025.0,0.0,Automatic,Gas,Mitsubishi Eclipse Cross,Unknown
2,2550000,2022.0,43000.0,Automatic,Gas,Mercedes C 180,Cairo
3,4100000,2025.0,0.0,Automatic,Gas,Land Rover Range Rover Evoque,Unknown
4,4200000,2026.0,0.0,Automatic,Gas,Mercedes C 200,Unknown

In [49]:
#printing disinct title 
distinct_titles = df_cleaned['Title'].dropna().unique()
print(distinct_titles)

['Mitsubishi Eclipse Cross' 'Mercedes C 180' 'Mercedes C 200'
 'Nissan Sunny' 'Hyundai Accent RB' 'Mercedes GLA 200' 'Skoda Octavia'
 'BMW X1' 'Kia Cerato' 'Renault Logan' 'Lada Oka' 'Peugeot 301'
 'Chevrolet Cruze' 'Opel Astra' 'Mini Cooper' 'Chevrolet Lanos'
 'Mercedes EQA 260' 'Mitsubishi Eclipse' 'Fiat 500' 'Mercedes B 150'
 'Hyundai Elantra' 'Ford Kuga' 'Hyundai Verna' 'Mitsubishi Attrage'
 'Toyota Yaris' 'Hyundai Tucson' 'Volkswagen Passat' 'Subaru XV'
 'Mercedes E 200' 'Chery Arrizo 5' 'Audi Q3' 'Opel Grandland' 'Mazda 2'
 'Nissan Qashqai' 'MG ZS' 'Volkswagen Suran' 'Haval Jolion Pro' 'Audi A5'
 'Chery Tiggo 3' 'Opel Insignia' 'Renault Megane' 'Mazda 3'
 'Citroën C Elysee' 'Kia Picanto' 'Kia Carnival MPV' 'Fiat 132' 'Peugeot'
 'Brilliance Galena' 'Mercedes EQE 350' 'Toyota Corolla' 'Seat Leon'
 'Chery Tiggo 7' 'Geely Emgrand' 'Volkswagen ID 6' 'Cupra Terramar'
 'Speranza A516' 'Changan CS 15' 'MG HS' 'BMW 320' 'Renault Duster'
 'Hyundai Elantra HD' 'Jac J7' 'Fiat 127' 'Skoda Kodiaq'
 'Hyundai Elantra CN7' 'BMW 750' 'Volvo XC 40' 'Volkswagen Jetta'
 'Skoda Fantasia' 'Chery A11' 'Chevrolet N-Series' 'Baic U5 plus'
 'BMW 740' 'Renault Kardian' 'Renault Taliant' 'Kia Rio'
 'Skoda Octavia A4' 'Hyundai Accent' 'Suzuki Sx4' 'Mitsubishi Lancer Puma'
 'Kia Carens' 'Fiat Tipo' 'BMW 528' 'Chevrolet Aveo' 'Kia Grand Cerato'
 'Mitsubishi Lancer Crystala' 'Mitsubishi Lancer EX Shark' 'Daewoo Lanos'
 'Suzuki Ertiga' 'Citroën Ds5' 'Hyundai Elantra AD' 'Kia Sportage'
 'Chevrolet Optra' 'Mercedes 200' 'Lada Granta' 'Ford Focus'
 'Haval Jolion' 'Hyundai Avante' 'Jetour Dashing' 'Hyundai Creta'
 'Peugeot 508' 'Renault Sandero Step Way' 'Mitsubishi Lancer'
 'Skoda Octavia A5' 'Jetour X70' 'Mercedes CLA 200' 'Volkswagen Tiguan'
 'Daihatsu Kancil' 'Hyundai Excel' 'Toyota Land Cruiser 70'
 'Geely Cool Ray' 'Chrysler Town & Country' 'Abarth 595'
 'Hyundai Tucson GDI' 'MG 5' 'Citroën C4 Grand Picasso' 'Geely Imperial'
 'Honda Civic' 'Opel Crossland' 'Opel Corsa' 'Toyota GR Corolla'
 'Kia Sorento' 'Jetour T1' 'Seat Arona' 'DFSK Glory Van' 'Hawa Other'
 'Daewoo Lanos 2' 'Toyota Belta' 'Nissan Sentra' 'Renault Kadjar'
 'Jeep Cherokee' 'Geely X7' 'Suzuki Swift Dzire' 'Hyundai Elantra MD'
 'Abarth 695' 'Geely Emgrand 7' 'Fiat Punto' 'Citroën C5 Aircross'
 'Peugeot 206' 'Geely Starray' 'BMW X3 M' 'Mercedes GLC 200'
 'Mercedes E 180' 'Daewoo Lacetti' 'Kia Xceed' 'Cupra Leon' 'Changan Eado'
 'Seat Ibiza' 'Daihatsu Terios' 'Mercedes GLK 300' 'Chery Tiggo 8'
 'MG Rx5' 'Opel Vectra' 'Mercedes E 250' 'Deepal S 05' 'Citroën C3'
 'Seat Ateca' 'Skoda Octavia A8' 'Fiat Uno' 'Hyundai Bayon'
 'Hyundai IX 35' 'Kia Pride' 'Daihatsu SIRION' 'Nissan Marsh'
 'Geely Maple' 'Kia K3' 'Volkswagen Golf' 'Changan CS 55'
 'Renault Sandero' 'Volkswagen Turan' 'Toyota Fortuner' 'Peugeot 405'
 'Audi A3' 'Byd Song L' 'Byd Other' 'Jac JS4' 'MG 7' 'GAC GS4'
 'Chevrolet Pickup' 'Isuzu D max' 'Daewoo Nubira 2' 'Nissan Tiida'
 'Byd F3' 'Volkswagen Golf 3' 'Hyundai Matrix' 'Volkswagen ID 4'
 'Gmc Other' 'Proton Saga' 'Jeep Liberty' 'Mercedes B 180' 'Byd Song Plus'
 'Honda Accord' 'Mercedes B 200' 'Other Other' 'Chevrolet Spark'
 'Mercedes GLC 250' 'Peugeot 408' 'Brilliance FSV' 'BMW 520' 'Nissan Juke'
 'Ssang Yong Tivoli' 'Proton Gen 2' 'Volkswagen Cross' 'Speranza M12'
 'Fiat Shahin' 'Jac S3' 'Peugeot 504' 'Suzuki Swift' 'BMW X3' 'Fiat Palio'
 'Nissan XTrail' 'Toyota Crown' 'Soueast Other' 'Soueast S 06'
 'GAC Emzoom' 'Mercedes E 300' 'Soueast S 05' 'Proton Persona'
 'Speranza Tiggo' 'Peugeot 308' 'Fiat 128' 'Daewoo Espero' 'Jac S2'
 'Brilliance V6' 'Brilliance FRV' 'Mitsubishi Xpander' 'Citroën C4'
 'Mercedes A 200' 'Opel Mokka' 'Fiat 500 X' 'Citroën Ax' 'Geely GX3 Pro'
 'Daihatsu Charade' 'Suzuki Alto' 'Renault 16'
 'Citroën Grand C4 Spacetourer' 'Skoda Felicia' 'Suzuki Pickup'
 'Volkswagen Eos' 'Daewoo Nubira' 'Peugeot 407' 'Mercedes CLA 180'
 'Chery Envy' 'MG One' 'Jeep Grand Cherokee' 'Citroën C4X' 'Suzuki Maruti'
 'Hyundai Getz' 'Jeep Renegade' 'BMW 316' 'MG 6' 'Skoda Superb'
 'Peugeot 307 SW' 'Ford Fusion' 'Citroën C5' 'Mercedes 180'
 'Bestune T77 Pro' 'Toyota C-HR' 'Ssang Yong Torres' 'Seat Toledo'
 'Byd Tang L' 'Changan CS55 Plus' 'Audi A4' 'Alfa Romeo Stelvio'
 'Alfa Romeo Giulia' 'Seat Tarraco' 'Jeep Wrangler' 'Jetour X90'
 'Renault Captur' 'Speranza M11' 'Alfa Romeo Giulietta' 'BMW X5'
 'Mercedes EQB 260' 'Xiaomi SU7' 'Maserati Quattroporte' 'Toyota Corona'
 'BMW IX1' 'Toyota Echo' 'Audi Q2' 'Renault Fluence' 'DFSK EAGLE 580'
 'Volkswagen Polo' 'Volkswagen T-Roc' 'Toyota BZ3' 'Volkswagen Bora'
 'Kia Forte' 'Fiat Siena' 'Honda CRV' 'Peugeot 205' 'Lada' 'Hyundai I30'
 'Suzuki Baleno' 'Jetour T2' 'Isuzu Other' 'Speranza Envy' 'Skoda Rapid'
 'Mazda 323' 'Citroën C4 Picasso' 'Toyota Hilux' 'JMC New Boarding'
 'Byd F0' 'Hyundai Tucson Turbo GDI' 'BMW 118' 'Citroën C3 Aircross'
 'Toyota Aurion' 'Zeekr 7X' 'Avatr 12' 'Faw Vita' 'Daewoo Nubira 1'
 'Geely Emgrand X7' 'Fiat Bravo' 'BMW IX3' 'Renault Austral' 'Haval H6'
 'Mitsubishi Pajero' 'Chery Tiggo 4 Pro' 'KYC X3' 'BMW I3'
 'Chevrolet T-Series' 'Kia Soul' 'Hyundai I10' 'Jaguar Other'
 'Abarth Other' 'Byd Qin Plus' 'Audi Q7' 'BMW 318' 'Geely X Pandino'
 'Mini Country man' 'Skoda Fabia' 'Mitsubishi Galant'
 'Chery Tiggo 7 pro max' 'Suzuki Ciaz' 'Hyundai Grand i10' 'Renault Clio'
 'Suzuki Grand vitara' 'Chevrolet Malibu' 'Avatr 11' 'Mercedes E 350'
 'Mercedes C 300' 'Volkswagen E Golf' 'Skoda Octavia A7'
 'Land Rover Range Rover Evoque' 'BMW 525' 'Bestune B70S' 'Dodge Ram'
 'Speranza A213' 'Dongfeng Huge' 'Chery Tiggo' 'Zotye Xplosion'
 'Jeep Other' 'Volkswagen Golf 6' 'Fiat Grand Punto' 'Fiat Regata'
 'Kia Cerato Koup' 'Fiat Ritmo' 'Byd F3R' 'Renault 14' 'Byd Qin'
 'Toyota Avanza' 'Speranza A620' 'Kenbo H3' 'Peugeot 207' 'Mercedes S 400'
 'Emgrand EC 7' 'Toyota Other' 'Speranza A113' 'Renault Logan MCV'
 'Proton Preve' 'BMW X5 M' 'Volkswagen Golf 2' 'Kia Seltos' 'BMW Z4'
 'MG 3' 'Changan Benni' 'Daewoo Racer' 'Mercedes 190' 'Brilliance V5'
 'BMW 523' 'Chevrolet Other' 'Ford Escort' 'Soueast S 07' 'Fiat Tempra'
 'Renault Laguna' 'Volvo 240' 'Hyundai I20' 'Faw Van' 'Chevrolet Captiva'
 'Volkswagen Beetle' 'Mercedes 240' 'Zotye T600' 'Honda City'
 'Hyundai Venue' 'Audi Q5 E-Tron' 'Chevrolet N300' 'Suzuki Vitara'
 'Changan CS 35' 'Mercedes 250' 'Alfa Romeo Tonale' 'Kia Spectra'
 'Fiat Petra' 'BMW X2' 'Geely Okavango' 'Ds DS7' 'BMW X6 M'
 'Hyundai Centennial' 'Mini Convertible' 'Audi A8 L' 'Renault Rainbow'
 'Ford EcoSport' 'Volkswagen Caddy' 'Ssang Yong Tivoli XLV' 'Hyundai XD'
 'Suzuki Other' 'Suzuki S Presso' 'Jeep Komodo' 'Kia Ceed' 'BMW X4'
 'Deepal S 07' 'Changan UNI-V' 'Honda Other' 'BMW 418' 'Chrysler C300'
 'Skoda Felicia combi' 'Changan Alsvin' 'Kia Carnival' 'Kaiyi X7'
 'Chery Tiggo 8 Pro Max' 'Chery Tiggo 4' 'Canghe Q35' 'Jetour X70 Plus'
 'Toyota Rush' 'Toyota Camry' 'Cupra Formentor' 'Great Wall C30'
 'Bugatti Centodieci' 'Baic BJ30' 'DFSK Glory' 'BMW X4M' 'Byd L3'
 'Chery A5' 'Honda ENP' 'BMW 218 i' 'Suzuki Van' 'Tesla Model Y'
 'Hyundai Elantra Coupe' 'Mazda Other' 'Chery Tiggo 7 pro'
 'Mercedes E 240' 'Haima M3' 'Skoda Favorit' 'Subaru Impreza'
 'Hyundai Atos' 'BMW 440' 'Ford Fiesta' 'Hyundai Santa Fe'
 'Mercedes A 35 AMG' 'Toyota Tercel' 'Peugeot 307' 'Proton Waja'
 'Ford Mondeo' 'Fiat Dogan' 'Soueast S 09' 'Smart 3' 'Volkswagen Touareg'
 'Smart 1' 'Chana New Star' 'Arcfox Other' 'Baic X7' 'BMW 218' 'Haval H7'
 'Mercedes A 180' 'Toyota Land Cruiser' 'Geely Ck' 'Kia Shuma'
 'Citroën Berlingo' 'Hyundai Santamo' 'Chery Arrizo 8' 'GAC Emkoo'
 'Citroën C3 Picasso' 'Toyota Auris' 'Volvo S60' 'Jac JS3'
 'Daewoo Leganza' 'Mercedes E 280' 'Daihatsu Gran max' 'Volkswagen Golf 7'
 'Daihatsu Grand terios' 'Saipa Pride Sedan' 'Hyundai Accent HCI'
 'Hyundai H1' 'Chery Tiggo 8 Pro' 'Skoda Roomster' 'Volkswagen Pointer'
 'Hyundai Tiburon' 'Volkswagen Other' 'Mini Coupe' 'Hyundai Fx' 'BMW 325'
 'Peugeot 406' 'Hyundai Ix20' 'Skoda Karoq' 'Audi Q8' 'Renault 19'
 'Mercedes S 500' 'Tesla Model 3' 'Hyundai Solaris' 'Jetour X95'
 'Saipa Tiba' 'Daihatsu Other' 'Mercedes GLA' 'Volvo EX30' 'BMW 328'
 'Nissan Rogue' 'Fiat Panda' 'Kia Sephia' 'Changan Benni mini'
 'Chevrolet N200' 'Speranza Chery QQ' 'Mercedes EQV 300' 'Hyundai Coupe'
 'Daewoo Zaz' 'Mercedes GLA 180' 'Soueast DX8S Coupe' 'Brilliance V3'
 'Kaiyi X3 Pro' 'BMW 340' 'Mercedes 230' 'Forthing T5 evo' 'BMW IX'
 'BMW 640' 'Geely EC7' 'Great Wall Peri' 'Mercedes B 160' 'Lada Samara'
 'Fiat 131' 'Mercedes C 250' 'Nissan Other' 'Arcfox AS' 'Hyundai Viva'
 'Emgrand Other' 'Geely Pandino' 'Chevrolet Equinox' 'Renault MCV'
 'DFSK K01s' 'Geely Sparky' 'Volkswagen ID3'
 'Land Rover Range Rover Sport' 'Changan V7' 'BMW 530' 'Jaguar F-Pace'
 'Geely Panda' 'Changan Eado plus' 'Honda HRV' 'Byd Seagull' 'Peugeot 208'
 'Fiat' 'Renault 21' 'Peugeot 308 sw' 'Soueast DX3' 'Kia Sportage L'
 'Ford Territory' 'Zotye Z100' 'Mercedes E Class' 'Hyundai EON'
 'Citroën Xsara' 'Changan CS 85' 'Mercedes C 280' 'Kia K4'
 'Mercedes A Class' 'Gmc Terrain' 'Ford Taurus' 'Senova A3' 'Canghe M50'
 'Changan UNI-T' 'Mercedes 350' 'GAC Empow' 'Chery Arrizo 5 pro'
 'Porsche Macan' 'Kia K5' 'Renault Scala' 'Mercedes E 230' 'Haima S5'
 'Hyundai Terracan' 'Baic X3' 'Hyundai Other' 'Saipa Pride'
 'Toyota Avensis' 'DFSK 330S' 'Peugeot 106' 'Fiat Polonez' 'Shineray X30'
 'Ds Other' 'Seat Cordoba' 'MG RX5 Plus' 'Mercedes GLK 350' 'Mercedes CLK'
 'Hyundai Veloster' 'Hyundai H100' 'Skoda Octavia RS' 'Seat 133']

In [13]:
# ========== EXTRACT MAKE & MODEL FROM TITLE ==========
# This handles multi-word brands like "Land Rover", "Alfa Romeo", etc.
import re

# Known brand list (multi-word brands included)
brand_list = [
    "Land Rover", "Alfa Romeo", "Great Wall", "Ssang Yong", "Jetour", "Mini", "DFSK", "MG",
    "BMW", "Mercedes", "Audi", "Volkswagen", "Toyota", "Ford", "Kia", "Hyundai",
    "Renault", "Peugeot", "Nissan", "Mitsubishi", "Fiat", "Chevrolet", "Opel",
    "Skoda", "Volvo", "Subaru", "Changan", "Haval", "Geely", "Chery", "Citroën",
    "Jac", "Daihatsu", "Abarth", "Brilliance", "Proton", "Soueast",
    "Speranza", "Isuzu", "GMC", "Bugatti", "Faw", "Haima", "Saipa", "Kenbo",
    "Senova", "Canghe", "Dongfeng", "Avatr", "Xiaomi", "KYC", "BYD", "Honda",
    "Mazda", "Suzuki", "Lexus", "Jeep", "Dodge", "Chrysler", "Cadillac", "Porsche",
    "Jaguar", "Maserati", "Ferrari", "Lamborghini", "Bentley", "Rolls Royce",
    "Tesla", "Hummer", "Lincoln", "Infiniti", "Acura", "Seat", "Cupra", "Lada",
    "Baic", "Bestune", "GAC", "JMC", "Shineray", "Zeekr", "Deepal", "Arcfox", "Rox"
]

# Sort brands longest-first so multi-word brands match before shorter ones
brand_list_sorted = sorted(brand_list, key=len, reverse=True)

def split_make_model(entry):
    """
    Extract Make and Model from a car title string.
    - First checks against the known brand list (longest match first).
    - Falls back to regex pattern matching for capitalized word sequences.
    - Returns (Make, Model) tuple.
    """
    if not isinstance(entry, str):
        return ("Unknown", None)
    
    entry = entry.strip()
    if not entry:
        return ("Unknown", None)
    
    # 1) Check against known brand list first (case-insensitive, longest match wins)
    entry_lower = entry.lower()
    for brand in brand_list_sorted:
        brand_lower = brand.lower()
        if entry_lower.startswith(brand_lower):
            # Extract the model part (everything after the brand)
            model_part = entry[len(brand):].strip()
            return (brand, model_part if model_part else None)
    
    # 2) Regex fallback: detect sequences of capitalized words as brand
    m = re.match(r"^(([A-Z][a-zA-ZÀ-ÿ]+(?:\s+[A-Z][a-zA-ZÀ-ÿ]+)*))\s*(.*)$", entry)
    if m:
        brand_candidate = m.group(1).strip()
        model_candidate = m.group(3).strip() if m.group(3) else None
        return (brand_candidate, model_candidate)
    
    # 3) No match found
    return ("Unknown", entry)

# Apply to the Title column
df_cleaned[['Make_extracted', 'Model_extracted']] = df_cleaned['Title'].apply(
    lambda x: pd.Series(split_make_model(x))
)

# Show sample results
print("Make/Model extraction complete. Sample results:")
print(df_cleaned[['Title', 'Make_extracted', 'Model_extracted']].head(15))

# Show distribution of extracted makes
print("\nTop 20 extracted Makes:")
print(df_cleaned['Make_extracted'].value_counts().head(20))

Make/Model extraction complete. Sample results:
                            Title Make_extracted     Model_extracted
0                  Mercedes C 180       Mercedes               C 180
1        Mitsubishi Eclipse Cross     Mitsubishi       Eclipse Cross
2                  Mercedes C 180       Mercedes               C 180
3   Land Rover Range Rover Evoque     Land Rover  Range Rover Evoque
4                  Mercedes C 200       Mercedes               C 200
5                  Mercedes C 200       Mercedes               C 200
6                  Mercedes C 180       Mercedes               C 180
7                    Nissan Sunny         Nissan               Sunny
8               Hyundai Accent RB        Hyundai           Accent RB
9                    Nissan Sunny         Nissan               Sunny
10               Mercedes GLA 200       Mercedes             GLA 200
11                  Skoda Octavia          Skoda             Octavia
12                         BMW X1            BMW                  X1
13                     Kia Cerato            Kia              Cerato
14                  Renault Logan        Renault               Logan

Top 20 extracted Makes:
Make_extracted
Mercedes      546
Hyundai       416
Kia           306
Renault       257
Nissan        235
Chevrolet     220
BMW           215
Toyota        181
Skoda         158
Opel          143
Chery         142
Peugeot       138
Fiat          132
Mitsubishi    130
MG            118
Volkswagen    112
Jeep           69
Suzuki         68
Citroën        61
Seat           60
Name: count, dtype: int64

### 3.4 Treating Outliers

In [14]:
#hadlinig outliers in year and prices
df_cleaned = df_cleaned[(df_cleaned['Year'].astype(int) >= 1960) & (df_cleaned['Year'].astype(int) <= 2026)]
price_Q1 = df_cleaned['Price'].astype(float).quantile(0.25)
price_Q3 = df_cleaned['Price'].astype(float).quantile(0.75)
IQR = price_Q3 - price_Q1
df_cleaned = df_cleaned[(df_cleaned['Price'].astype(float) >= (price_Q1 - 1.5 * IQR)) & (df_cleaned['Price'].astype(float) <= (price_Q3 + 1.5 * IQR))]
df_cleaned = df_cleaned.dropna()

In [15]:
df_cleaned.head()

,Price,Year,Mileage_in_KM,Transmission,Fuel_Type,Title,City_standard,Make_extracted,Model_extracted
1,1475000,2025.0,0.0,Automatic,Gas,Mitsubishi Eclipse Cross,Unknown,Mitsubishi,Eclipse Cross
2,2550000,2022.0,43000.0,Automatic,Gas,Mercedes C 180,Cairo,Mercedes,C 180
5,3100000,2022.0,60000.0,Automatic,Gas,Mercedes C 200,Cairo,Mercedes,C 200
6,1190000,2013.0,140000.0,Automatic,Gas,Mercedes C 180,Cairo,Mercedes,C 180
7,775000,2026.0,0.0,Automatic,Gas,Nissan Sunny,Unknown,Nissan,Sunny

In [16]:
df_cleaned.to_csv('cleaned_cars_data.csv', index=False, encoding='utf-8-sig')

## 4. Exploratory Data Analysis (EDA)